/*
Rose : rgba(233, 90, 123, 1)
Bleu : rgba(121, 203, 225, 1)
Vert : rgba(169, 207, 88, 1)
*/
/*STYLE GÉNÉRAUX*/
.main{
  max-width: 1000px;
  margin: auto;
}
img{
  width: 100%;
}
figure{
  margin: 0;
}
.fond_noir{
  color: white;
  background-color: black;
}
.fond_blanc{
  background-image: url('../images/Backgroundwood.png');
  background-size: cover;
  background-repeat: no-repeat;
}
h1, h2, h3, h4{
  margin: 0;
  padding: 1em 0;
  text-transform: uppercase;
}
h3{
  text-align: center;
}
h4{
  padding: 1em 0 0 0;
}
.flex_item{
  width: 50%;
  float: left;
  position: relative;
}
.flex_item figcaption{
  position: absolute;
  bottom: 2em;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.burrito_desc{
  font-size: 0.7em;
  display: none;
}

.flex_item:hover .burrito_desc{
  display: block;
}
@media(min-width:700px){
  .flex_box{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .flex_item{
    max-width: 33%;
  }
}
.rose{
  color: rgba(233, 90, 123, 1);
}
.bleu{
  color: rgba(121, 203, 225, 1);
}
.vert{
  color: rgba(169, 207, 88, 1);
}

/*NAVIGATION*/
.navigation{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0;
  text-align: right;
  width: 100%;
}
nav ul li{
  display: inline;
}
nav ul li a{
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.6em 1em;;
  transition: all 0.2s;
}
nav ul li a:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

/*BANNIÈRE*/
.banner{
  height: 100vh;
}
.banner_image img{
  max-width: 1000px;
  position: absolute;
  top: 30vh;
}

/*CHIRASHI*/
.produit_description{
  border-bottom: 1px solid black;
  min-height: 150px;
}
.prix{
  margin: auto;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
}
.chirashi_prix{
  width: 32%;
}
.prix p{
  margin: 0;
}
.prix p:last-child{
  font-weight: bold;
}
.choix_chirashi{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
/*CONTACT*/
.ouverture{
  list-style-type: none;
  margin: auto;
  width: 200px;
}
