/*STYLE GÉNÉRAUX*/
.main{
  max-width: 1000px;
  margin: auto;
}
img{
  width: 100%;
}
figure{
  margin: 0;
}



.fond_noir{
  color: white;
  background-color: black;
}
.flex_item{
  width: 50%;
  float: left;
  position: relative;
}
.flex_item figcaption{
  position: absolute;
  bottom: 2em;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
@media(min-width:600px){
  .flex_box{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .flex_item{
    max-width: 15em;
  }
}
